@media (min-width : 320px) and (max-width : 575.99px) {
    /* ======================================== */
    /*              NAVBAR SECTION              */
    /* ======================================== */

    .navbar-brand {
        margin: 0 10px;
    }

    .navbar-toggler {
        border: 1px solid transparent;
        margin: 0px;
        padding: 0px;
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 transparent
    }

    .fa-bars {
        color: black;
        margin-right: 10px;
    }

    .navbar-nav {
        padding: 20px 0;
    }

    .navbar-collapse {
        text-align: center;
    }

    .nav-link {
        margin-right: 0px;
    }

    .nav-link:hover,
    .nav-link:focus,
    .nav-link:active {
        color: #7081b9;
    }

    .btn {
        transition: none !important;
    }

    .btn:hover,
    .btn:focus,
    .btn:active {
        color: #00bcd4 !important;
        background-color: #fff !important;
        border: 1px solid rgba(0, 188, 212, 0.3) !important;
        transform: none !important;
    }

    /* ======================================== */
    /*               HERO SECTION               */
    /* ======================================== */
    .section-hero {
        padding: 0px 0px 20px;
    }

    .hero-image {
        display: flex;
        justify-content: center;
    }

    .hero {
        width: 80%;
    }

    .hero-content {
        padding: 20px;
    }

    .hero-content h2 {
        font-size: 30px;
        margin: 0px;
        padding: 20px;

    }

    .hero-content h1 {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 40px;
    }

    .hero-button {
        font-size: 14px;
        color: rgb(255, 255, 255) !important;
        background-color: #00bcd4 !important;
        transition: none !important;
    }

    .hero-button:hover {
        transform: none !important;
    }

    /* ======================================== */
    /*             DETAILS SECTION              */
    /* ======================================== */

    

}